.ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  border-left: 0.2rem solid var(--red-tint1);
  line-height: 2rem;
}

.li {
  display: flex;
  align-items: center;
}

.li a {
  color: currentColor;
}

.icon {
  color: var(--red-tint1);
  font-size: 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
}

.icon-before {
  padding-right: 0.75ch;
}