:root {
  --black-tint1: #080808;
  --white-tint1: #e4e4e4;
  --red-tint1: #db6e7a;
  --purple-tint1: #291839;
  --purple-tint2: #342444;
  --orange-tint1: #361d07;
  --orange-tint2: #44250a;
  --yellow-tint1: #efec5f;
}
