.section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.choice {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.06);
  color: inherit;
  cursor: pointer;
  padding: 0.5rem 0;
  width: 7ch;
}

.choice-left {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 0;
}

.choice-right {
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 0;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.choice-left.active {
  box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.06) inset;
}

.choice-right.active {
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.06) inset;
}
