.button {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.06);
  color: inherit;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-self: end;
  aspect-ratio: 1 / 1;
}

.icon {
  color: currentColor;
  font-size: 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
  transform: rotate(90deg);
  aspect-ratio: 1 / 1;
}

.button.back-to-top:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.06);
}
