.back-to-top {
  --yPos: translateY(calc(100% + 10rem));

  position: fixed;
  bottom: 10rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.06);
  color: inherit;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-self: end;
  aspect-ratio: 1 / 1;

  transform: translateX(calc(100% + 2rem)) var(--yPos);
  opacity: 0;

  transition:
    transform 150ms ease-in-out,
    opacity 60ms ease-in-out;
}

.icon {
  color: currentColor;
  font-size: 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
  transform: rotate(90deg);
  aspect-ratio: 1 / 1;
}

.back-to-top:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.06);
}

body[data-not-scrolled-at-top] .back-to-top {
  --yPos: translateY(0);
  opacity: 1;

  transition-delay: 0ms, 90ms;
}

body:not([data-not-scrolled-at-top]) .back-to-top {
  --yPos: translateY(calc(100% + 10rem));
  opacity: 0;

  transition-delay: 0ms, 0ms;
}
